@font-face {
  font-family: "Open Sans";
  src: url(../font/OpenSansCondensed-Light.ttf);
}

* {
  box-sizing: border-box;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  list-style: none;
  font-family: "Open Sans";
}

body {
  margin: 0;
  padding: 0;
  min-height: 200vh; /* fait deux fois la taille de l'écran utilisateur*/
  overflow-x: hidden;
}

/* ------------------- ensemble devise / service client / points de vente ------------------*/

.ensemble1 {
  display: flex;
  width: 100%;
  background-color: #e5e5e5;
  height: 40px;
  align-items: center;
}

.ensemble1 p {
  font-family: "Open Sans";
}

.devise,
.service-client,
.points-vente {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}

.devise {
  margin-left: 50px;
  margin-right: 45px;
  padding-left: 20px;
}

.service-client {
  margin-right: 45px;
}

/* ------------------------ icone ----------------------*/

.fa-angle-down {
  position: absolute;
  right: 80px;
  top: 13px;
  font-size: 25px;
}
.fa-phone-alt {
  position: absolute;
  right: 75px;
  top: 17px;
}
.fa-map-marker-alt {
  position: absolute;
  right: 85px;
  top: 17px;
}

/* ------------------------------- ensemble2 : barre de recherche, logo et icones ------------------*/

.ensemble2 {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  margin-top: 20px;
}

/* ----------------------------------- barre de recherche ----------------------------*/

.input {
  border-radius: 99px;
  height: 50px;
  width: 300px;
  padding-left: 25px;
  font-size: 19px;
  font-family: "Open Sans";
  border: 1px solid rgba(0, 0, 0, 0.404);
}

.fa-search {
  position: absolute;
  left: 295px;
  bottom: 645px;
  color: rgba(0, 0, 0, 0.521);
  font-size: 20px;
}

/* ---------------- logo --------------------*/
.img-logo {
  width: 130px;
}
/* --------------- icones ----------------------------*/

.box-icones {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.fa-heart,
.fa-user,
.fa-shopping-bag {
  font-size: 20px;
}

/* ----------------------- menu en ligne ------------------------ */

.menu {
  width: 90%;
  margin: auto;
  margin-top: 45px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}

.liste-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  margin-bottom: 0px;
}
li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.075);
  padding-bottom: 20px;
}

li:hover {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

/* --------------------------- ensemble 3 : photo -------------------------*/

.ensemble3 {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.modefemme-p,
h1,
.parfum-p,
h2,
.modehomme-p,
.maquillage-p,
.soin-p {
  margin-left: 55px;
}

.button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 99px;
  width: 250px;
  height: 50px;
  font-size: 20px;
  margin-left: 55px;
  cursor: pointer;
}

#cart {
  padding-right: 15px;
}

/* ------------------------ carte --------------------*/

.section4 {
  position: relative;
}

.ensemble4 {
  margin-top: 55px;
  width: 100%;
}
.img9 {
  width: 100%;
}

.box-ensemble4 {
  position: absolute;
  left: 600px;
  top: 150px;
  z-index: 3;
}

.input-map {
  left: 10px;
  position: absolute;
  border-radius: 99px;
  height: 50px;
  width: 300px;
  padding-left: 50px;
  font-size: 20px;
}

#search-ensemble4 {
  position: absolute;
  top: 17px;
  left: 15px;
  color: white;
}

.box-noire {
  width: 50px;
  height: 49px;
  background-color: black;
  position: absolute;
  left: 260px;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
}

.ensemble4-h2 {
  position: absolute;
  left: 10px;
  top: -80px;
  width: 200px;
  font-size: xx-large;
}

/* ------------------------ section avantages e-boutique ---------------*/
.avantages {
  background-color: black;
  display: flex;
  height: 500px;
  position: relative;
}

.ensemble5 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
}

.avantages-h2,
.avantages-h3,
.avantages-p,
.fa-truck,
.fa-undo,
.fa-gift {
  color: white;
}

.avantages-h2 {
  position: absolute;
  left: 570px;
}

.livraison,
.retours,
.cadeau {
  padding: 100px;
  position: relative;
  display: flex;
  margin-top: 100px;
  height: 300px;
}

.fa-truck,
.fa-undo,
.fa-gift {
  position: absolute;
  left: 140px;
  top: 90px;
  font-size: 25px;
}

.avantages-h3 {
  width: 150px;
}

.avantages-p {
  position: absolute;
  top: 150px;
  left: 40px;
  text-align: center;
}

.retours p {
  left: 60px;
}

.cadeau p {
  left: -50px;
}

.cadeau {
  margin-left: 50px;
}

/* ---------------------- footer --------------------------*/

.ensemble-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* --------------- box newsletter ----------*/
/* ----------- paragraphes et titres box newsletter & box suivez nous------------*/

.footer1-p,
.footer1-h4,
.footer3 h4 {
  text-align: center;
}
.footer1 {
  margin-top: 150px;
}

.footer1-form input {
  border-radius: 99px;
  width: 250px;
  height: 40px;
  padding-left: 50px;
}
.footer1-form button {
  height: 40px;
  width: 50px;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  margin-left: -52px;
  background-color: black;
  color: white;
  border: none;
}

/* ---------------- box ul -------------------*/
.footer2 {
  margin-top: 40px;
}
.footer2 li {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: white;
  cursor: pointer;
  text-decoration: underline;
}

.footer2 li:hover {
  text-decoration: underline;
  font-weight: bolder;
}

/*------------------ box suivez nous -------------------*/

.footer3 {
  width: 350px;
  margin-top: 90px;
}

.footer3 i {
  font-size: 40px;
  color: #7a7a7a;
  cursor: pointer;
}

.box-icone {
  display: flex;
  justify-content: space-evenly;
}

.select {
  /* margin: auto; */
  border: none;
  /* margin-left: 100px; */
  font-size: 20px;
  border-radius: 99px;
  border: 1px solid grey;
  height: 50px;
  width: 350px;
  text-align: center;
}

/* ------------------------------ media query ----------------------------*/

@media only screen and (min-width: 360px) and (max-width: 1000px) {
  .ensemble1 {
    padding-top: 10px;
    padding-bottom: 15px;
    height: 50px;
  }

  .ensemble2 {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .box-img-logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #search-ensemble2 {
    position: absolute;
    top: 15px;
    right: 0px;
  }

  .liste-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .liste-menu li {
    border-bottom: 0px solid white;
  }

  .menu {
    border-bottom: 0px solid white;
  }

  /* ------------------ images -------------------*/

  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8 {
    width: 100%;
  }

  /* ------------------- ensemble4------------------*/
  .img9 {
    height: 200px;
    object-fit: cover;
  }
  .ensemble4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 70px;
    position: relative;
  }

  .box-ensemble4 {
    left: 10px;
    top: 100px;
  }

  /* .box-ensemble4 input {
    width: auto;
  } */

  .box-ensemble4 h2 {
    font-size: x-large;
  }

  /* -------------------- ensemble 5------------*/
  .avantages-h2 {
    left: 25px;
  }

  .avantages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
  }
  .ensemble5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100px;
    justify-content: center;
  }

  .livraison,
  .retours,
  .cadeau {
    padding: 0px;
    margin: 0px;
    height: 300px;
    position: relative;
  }

  .livraison p,
  .retours p,
  .cadeau p {
    left: -25px;
  }

  .livraison h3,
  .retours h3 {
    position: absolute;
    top: 20px;
    left: -2px;
  }

  .fa-truck,
  .fa-undo,
  .fa-gift {
    left: 45px;
  }

  /* --------------- footer ---------------------*/
  footer {
    padding-bottom: 250px;
    position: relative;
  }
  .ensemble-footer {
    display: flex;
    flex-direction: column;
  }

  .footer1-form > input {
    margin-left: 100px;
  }

  .select {
    width: auto;
    margin-left: 100px;
  }

  .footer3 {
    position: absolute;
    left: 50px;
    bottom: 50px;
  }
}
